* {
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 5px 20px 15px 20px;
    border-radius: 4px;
    width: 100%;
}
input[type="date"],
input[type="text"],
select,
textarea{

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
header{
    padding: 50px;
    text-align: center;
    background-color: rgb(17, 144, 158);
    color: white;
}
header h1{
    font-size: 40px;
}
.button{
    background-color:purple;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.button:hover{
    background-color:black;
}
.main_heading{
    text-align: center;
}